<form action="/<%= @file[:name] %>" method="post">
  <label for="content">Edit content of '<%= @file[:name] %>':</label>
  <br>
  <textarea name="content" id="content" rows="20" cols="70"><%= @file[:content] %></textarea>
  <br>
  <button type="submit">Save Changes</button>
  <a href="/">Cancel</a>
</form>